@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

main {
  min-height: 100vh;
}